<!DOCTYPE html>
<html th:include="template::modelo">
<main th:fragment="conteudo" class="bg-light"><br>
       <div id="contact-area">
              <div class="container">
                     <div class="row">
                            <div class="col-md-4 contact-box">
                                   <h3>Loja X</h3>
                                   <ul class="list-group">
                                          <img src="img/icone.jpg">
                                          <li class="list-group-item">Produto X</li>
                                          <li class="list-group-item"> Valor X</li>

                                   </ul>
                            </div>
                            <div class="col-md-4 contact-box">
                                   <h3>Loja x</h3>
                                   <ul class="list-group">
                                          <img src="img/icone.jpg">
                                          <li class="list-group-item">Produto X</li>
                                          <li class="list-group-item"> Valor X</li>

                                   </ul>
                            </div>
                            <div class="col-md-4 contact-box">
                                   <h3>Loja x</h3>
                                   <ul class="list-group">
                                          <img src="img/icone.jpg">
                                          <li class="list-group-item">Produto X</li>
                                          <li class="list-group-item"> Valor X</li>

                                   </ul>
                            </div>
                            <div class="col-md-4 contact-box">
                                   <h3>Loja X</h3>
                                   <ul class="list-group">
                                          <img src="img/icone.jpg">
                                          <li class="list-group-item">Produto X</li>
                                          <li class="list-group-item"> Valor X</li>

                                   </ul>
                            </div>
                            <div class="col-md-4 contact-box">
                                   <h3>Loja x</h3>
                                   <ul class="list-group">
                                          <img src="img/icone.jpg">
                                          <li class="list-group-item">Produto X</li>
                                          <li class="list-group-item"> Valor X</li>

                                   </ul>
                            </div>
                            <div class="col-md-4 contact-box">
                                   <h3>Loja x</h3>
                                   <ul class="list-group">
                                          <img src="img/icone.jpg">
                                          <li class="list-group-item">Produto X</li>
                                          <li class="list-group-item"> Valor X</li>

                                   </ul>
                            </div>
                            <div class="col-md-4 contact-box">
                                   <h3>Loja X</h3>
                                   <ul class="list-group">
                                          <img src="img/icone.jpg">
                                          <li class="list-group-item">Produto X</li>
                                          <li class="list-group-item"> Valor X</li>

                                   </ul>
                            </div>
                            <div class="col-md-4 contact-box">
                                   <h3>Loja x</h3>
                                   <ul class="list-group">
                                          <img src="img/icone.jpg">
                                          <li class="list-group-item">Produto X</li>
                                          <li class="list-group-item"> Valor X</li>

                                   </ul>
                            </div>
                            <div class="col-md-4 contact-box">
                                   <h3>Loja x</h3>
                                   <ul class="list-group">
                                          <img src="img/icone.jpg">
                                          <li class="list-group-item">Produto X</li>
                                          <li class="list-group-item"> Valor X</li>

                                   </ul>
                            </div>
                     </div>
              </div>
       </div>
</main>



</html>